@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Oswald:wght@200;300;400;500;600;700&family=Oxygen:wght@300;400;700&family=Poppins:wght@100;200;300;400&family=Roboto:wght@900&display=swap')
	;

.navegacao .u1 li:nth-child(1) {
	background-color: #286d4b;
}

.navegacao .u1 li:nth-child(2) {
	background-color: #1e804f;
}

.calculadora {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.usuario {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.usuari {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-right: 0px;
}

.usuari img {
	background-color: #DBEDEF;
	border-radius: 50%;
	cursor: pointer;
	padding: 3px; /*2px*/
	transition: 1s;
}

.usuari img:hover {
	background-color: #EBEDEF;
	border-radius: 50%;
	cursor: pointer;
	padding: 2px;
	transition: 1s;
}

.usuario div:nth-child(2) {
	padding-left: 5px;
}

.usr_name p{
	color: #286d4b;
}

/*.calculadora div:nth-child(1){
	padding-bottom:20px;
}*/

.calculadora .c-1, .calculadora .c-2, .calculadora .c-1-1, .calculadora .c-3 {
	display: flex;
	flex-direction: row;
}

.calculadora .c-1 div, .calculadora .c-1-1 div, .calculadora .c-3 div {
	display: flex;
	flex-direction: column;
	/*margin-right: 10px;*/
	width:100%;
}

.calculadora .c-1 div:nth-child(2){
	margin:0 4px 0 8px;
}

.calculadora .c-1 div:nth-child(3){
		margin:0 8px 0 4px;
}

.calculadora .c-3 div:nth-child(2){
	margin:0 4px 0 8px;
}

.calculadora .c-3 div:nth-child(3){
		margin:0 8px 0 4px;
}

.calculadora .c-1-1 {
	padding: 10px 0px 20px 0px;
}

.calculadora .c-1 {
	padding-top: 20px;
}

.ladora{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}

.ladora button {
	background-color: #286d4b;
	color: #ffffff;
}

.ladora button:hover {
	background-color: #14854c;
}

.ladora button {
	padding: 6px 12px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	border-radius: 3px;
	display:flex;
	align-items:center;
	justify-content:center;
}

/*.calculadora .c-2 {
	display:flex;
	justify-content:end;
}*/

.calculadora .c-3 {
	padding-top: 30px;
	padding-bottom: 40px
}

.calculadora .c-3 input {
	font-weight: 700;
}

.calculadora div input {
	padding: 6px 10px;
	font-size: 16px;
	outline: none;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
	text-align: right;
	width:100%;
}

.calculadora select {
	padding: 4px 10px;
	font-size: 16px;
	outline: none;
	margin: 2px 0px 10px 0px;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
}

.calculadora .c-2 button {
	/*padding: 10px 67px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	color: #ffffff;
	border-radius: 3px;
	background-color: #286d4b;*/
	padding: 10px 67px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	border-radius: 3px;
	height:45px;
	width:50px;
	/*margin-left:20px;*/
	/*margin-top:20px;*/
	display:flex;
	align-items:center;
	justify-content:center;
}


/*.camp .cap-05 div:nth-child(1){
	margin-top:20px;
}*/

.calculadora .c-2 button:nth-child(1) {
	background-color: #286d4b;
	color: #ffffff;
}

.calculadora .c-2 button:nth-child(1):hover {
	background-color: #14854c;
}

.camp .cap-05 div:nth-child(2){
	margin-top:10px;
}

.calculadora .c-2 button:nth-child(2) {
	background-color:#e1e1e1;
	color:#286d4b;
}

.calculadora .c-2 button:nth-child(2):hover {
	background-color:#dadada;
}


.calculadora .c-2 button:nth-child(1) {
	margin-right: 10px;
}

/*.calculadora .c-2 button:hover {
	background-color: #14854c;
}*/