@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Oswald:wght@200;300;400;500;600;700&family=Oxygen:wght@300;400;700&family=Poppins:wght@100;200;300;400&family=Roboto:wght@900&display=swap');

.navegacao .u1 li:nth-child(1){
	background-color:#14854c;
}

.navegacao .u1 li:nth-child(2){
	background-color:#2b7450;
}

.endereco{
	margin:20px 0px;
}

.contacto{
	margin:20px 0px 0px 0px;
}

.check-cliente{
	margin:0px 0px 25px 0px;
}

.identificacao, .endereco .ender, .contacto .contac, .estado, .botao{
	display:flex;
	flex-direction:row;
}

.identificacao div, .endereco .ender div, .contacto .contac div, .estado div{
	display:flex;
	flex-direction:column;
	padding-right:10px;
}

.identificacao div:nth-child(1){
	width:130px;
}


.identificacao div:nth-child(4){
	width:300px;
}

.contacto input[type="email"]{
	width:300px;
}

.identificacao div input, .endereco .ender input, .contacto .contac input, .estado div input{
	padding:6px 10px;
	font-size:16px;
	outline:none;
	margin:2px 0px 10px 0px;
	border:1px solid #e1e1e1;
	border-radius:3px;
}

 .endereco .ender select{
 	padding:5px 10px;
	font-size:16px;
	outline:none;
	margin:2px 0px 10px 0px;
	border:1px solid #e1e1e1;
	border-radius:3px;
	width:260px;
 }

.identificacao div label, .endereco .ender label, .contacto .contac label, .estado div label{
	font-weight:300;
}

.input:hover{
	border:5px solid #14854c;
}

.check-cliente label{
	font-weight:300;
	cursor:pointer;
}

.check-cliente input{
	cursor:pointer;
}

.botao div button{
	padding: 10px 35px;
	font-size:16px;
	border:none;
	cursor:pointer;
	color:#ffffff;
	border-radius:3px;
}

.botao div{
	margin-top:30px;
	width:130px;
}

.botao .salvar button{
	background-color:#53b584;
}

.botao .resetar button{
	background-color:#5d6d7e;
}