@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Oswald:wght@200;300;400;500;600;700&family=Oxygen:wght@300;400;700&family=Poppins:wght@100;200;300;400&family=Roboto:wght@900&display=swap')
	;

.navegacao .u1 li:nth-child(1) {
	background-color: #286d4b;
}

.navegacao .u1 li:nth-child(2) {
	background-color: #286d4b;
}

.navegacao .u1 li:nth-child(3) {
	background-color: #1e804f;
}

* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	font-family: Mulish, sans-serif;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

.parent {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
}

/**/
.navegacao {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #286d4b; /*#14854c; #38445e;*/
	height: 100%;
}

.navegacao ul li {
	padding: 15px 10px;
	width: 240px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navegacao ul li i {
	font-size: 20px;
	color: #f7f7f7;
}

.navegacao ul li a {
	font-size: 16px;
	color: #f7f7f7;
	padding-left: 10px;
	width: 100%;
}

.navegacao ul li:hover {
	background-color: #1e804f;
}

.logo {
	padding: 11px 0px;
	padding-left: 10px;
	height: 60px;
	border-bottom: 1px solid #1e804f;
	box-shadow: -3px 10px 10px #2b7450;
}

.logo a {
	color: #f7f7f7;
	font-weight: 900;
}

.navegacao .lg {
	width: 30px;
}

/**/
.menu {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.conta {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #ffffff;
	padding: 10px 10px 10px 10px;
	height: 61px;
	box-shadow: 3px 2px 5px #f7f7f7;
}

.conta .select {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.conta .select i {
	padding-right: 5px;
}

.conta i {
	font-size: 28px;
	color: #14854c;
}

.usuario {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.usuari {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.usuari img {
	background-color: #DBEDEF;
	border-radius: 50%;
	cursor: pointer;
	padding: 3px;
	transition: 1s;
}

.usuari img:hover {
	background-color: #EBEDEF;
	border-radius: 50%;
	cursor: pointer;
	padding: 3px;
	transition: 1s;
}

.usuario div:nth-child(2) {
	padding-left: 5px;
}

.usr_name p{
	color: #286d4b;
}

/**/
.visual {
	display: flex;
	flex-direction: row;
	padding: 10px;
	justify-content: space-between;
}

.visual .vi {
	width: 265px;
	height: 110px;
	border: none;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 5px 10px;
	box-shadow: 0px 0px 10px #f7f7f7;
}

.tabela {
	margin-top: 20px;
	padding: 10px 10px 10px 10px;
}

/**/
table {
	border-collapse: collapse;
	width: 100%;
	border-radius: 5px 5px 0px 0px;;
}

table thead{
	background-color: #FEFEFE;
	box-shadow: 3px 2px 5px #f7f7f7;
}

table thead tr td {
	padding: 6px 0px;
	font-weight: 500;
}

table thead tr td div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

table tbody tr td:nth-child(1){
	width:20%;
}

table tbody tr td:nth-child(3){
	width:10%;
	text-align:center;
}

table thead tr td:nth-child(3){
	text-align:center;
}

table thead tr td:nth-child(4){
	text-align:center;
	width:10%;
}


table tbody tr td{
	padding:8px 0;
	color: #2E4053;
}

table tbody tr td:nth-child(4){
	width:10%;
}

table tbody tr td div{
	display:flex;
	justify-content:center;
}

table button{
	border:none;
	background-color:#ffffff;
	cursor:pointer;
}

table button:nth-child(1){
	margin-right:6px;
}

/**/
.rodape {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #f7f7f7;
	padding: 5px 15px 5px 10px;
}

/**/
.camp .cap-05 div{
	display:flex;
}

.camp-head button {
	padding: 6px 18px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	display:flex;
	align-items:center;
	justify-content:center;
}

.camp-head i{
	padding-right:4px;
}

.camp-head button {
	background-color: #286d4b;
	color: #ffffff;
}

.camp-head button:hover {
	background-color: #14854c;
}

/*.camp .cap-05 div:nth-child(2){
	margin-top:10px;
}

.camp .cap-05 div:nth-child(2) a {
	background-color:#e1e1e1;
	color:#286d4b;
}

.cap-05 div:nth-child(2) a:hover {
	background-color:#dadada;
}*/

/**/

.camp-head{
	padding:10px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}

input {
	padding: 6px 10px;
	font-size: 16px;
	outline: none;
	margin: 2px 0px 10px 0px;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
	width:100%;
}

.cap-01 div:nth-child(2){
	padding:0 10px 0 10px;
}

select {
	padding: 5px 10px;
	font-size: 16px;
	outline: none;
	margin: 2px 0px 10px 0px;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
	width:100%;
}

.cap-01{
	display:flex;
	flex-direction:row;
	padding:10px;
}

.cap-01 div {
	display: flex;
	flex-direction: column;
	width:100%;
}
