@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Oswald:wght@200;300;400;500;600;700&family=Oxygen:wght@300;400;700&family=Poppins:wght@100;200;300;400&family=Roboto:wght@900&display=swap')
	;

* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
	font-family: Mulish, sans-serif;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

.parent {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
}

/**/
.navegacao {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #286d4b; /*#14854c; #38445e;*/
	height: 100%;
}

.navegacao ul li {
	padding: 15px 10px;
	width: 250px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navegacao ul li i {
	font-size: 20px;
	color: #f7f7f7;
}

.navegacao .u1 li:nth-child(1) {
	background-color: #1e804f;
}

.navegacao ul li a {
	font-size: 16px;
	color: #f7f7f7;
	padding-left: 10px;
	width: 100%;
}

.navegacao ul li:hover {
	background-color: #1e804f;
}

.logo {
	/*background-color:#14854c;*/ /* #38445e;#6587b7;  #e1e1e1;*/
	padding: 11px 0px;
	padding-left: 10px;
	height: 60px;
	border-bottom: 1px solid #1e804f;
	box-shadow: -3px 10px 10px #2b7450;
}

.logo a {
	color: #f7f7f7;
	font-weight: 900;
}

.navegacao .lg {
	width: 30px;
}

/**/
.menu {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.conta {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #ffffff;
	padding: 10px 15px 10px 10px;
	height: 61px;
	box-shadow: 3px 2px 5px #f7f7f7;
}

.conta .select {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.conta .select i {
	padding-right: 5px;
}

.conta i {
	font-size: 28px;
	/*color:#38445e;*/
	color: #14854c;
}

.usuario {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.usuario div:nth-child(2) {
	padding-left: 5px;
}

/**/
.visual {
	display: flex;
	flex-direction: row;
	padding: 10px;
	justify-content: space-between;
}

.visual .vi {
	width: 265px;
	height: 110px;
	border: none;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 5px 10px;
	/*background-color:#f7f7f7;*/
	box-shadow: 0px 0px 10px #f7f7f7;
}

.vi:nth-child(1) {
	border-left: 5px solid #14854c;
}

.vi:nth-child(2) {
	border-left: 5px solid #c64b4b;
}

.vi:nth-child(3) {
	border-left: 5px solid #3d4a65;
}

.vi:nth-child(4) {
	border-left: 5px solid #6382ae;
}

.tabela {
	margin-top: 30px;
	padding: 10px;
}

/**/
table {
	border-collapse: collapse;
	width: 100%;
	background-color: #f7f7f7;
	border-radius: 5px 5px 0px 0px;;
}

table thead tr td {
	padding: 5px;
	font-weight: 500;
}

table thead tr td div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/*color:#ffffff;*/
}

/**/
.rodape {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #f7f7f7;
	padding: 5px 15px 5px 10px;
}

/**/
.camp .cap-05 div{
	display:flex;
}

.camp .cap-05 a {
	padding: 10px 67px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	border-radius: 3px;
	height:50px;
	width:80px;
	margin-left:20px;
	/*margin-top:20px;*/
	display:flex;
	align-items:center;
	justify-content:center;
}

.camp .cap-05 button {
	padding: 10px 67px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	border-radius: 3px;
	height:50px;
	width:90px;
	/*margin-left:20px;*/
	/*margin-top:20px;*/
	display:flex;
	align-items:center;
	justify-content:center;
}

.camp .cap-05 div:nth-child(1){
	margin-top:20px;
}

.camp .cap-05 div:nth-child(1) button, .camp .cap-05 div:nth-child(2) button, .camp .cap-05 div:nth-child(3) button {
	background-color: #286d4b;
	color: #ffffff;
}

.camp .cap-05 div:nth-child(1) button:hover, .camp .cap-05 div:nth-child(2) button:hover, .camp .cap-05 div:nth-child(3) button:hover {
	background-color: #14854c;
}

.camp .cap-05 div:nth-child(2){
	padding: 10px 0px;
}

.camp .cap-05 div:nth-child(4){
	padding-top:18px;
}

.camp .cap-05 div:nth-child(4) button {
	background-color:#e1e1e1;
	color:#286d4b;
}

.camp .cap-05 div:nth-child(4) button:hover {
	background-color:#dadada;
}

/**/
.camp {
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	/*padding: 2px;*/
	padding-right:10px;
	/*padding: 2px;
	padding:10px;*/
}

.camp .cap{
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	/*padding: 2px;*/
	padding:10px;
	width:100%;
}

.camp input {
	padding: 6px 10px;
	font-size: 16px;
	outline: none;
	margin: 2px 0px 10px 0px;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
	/*width:270px;*/
}

.camp select {
	padding: 5px 10px;
	font-size: 16px;
	outline: none;
	margin: 2px 0px 10px 0px;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
	/*width:260px;*/
}

.camp input[type="text"]{
	text-align:right;
}

.camp .cap-01 div, .camp .cap-02 div, .camp .cap-03 div, .camp .cap-04 div {
	display: flex;
	flex-direction: column;
}

.camp .cap-01 div:nth-child(1) input{
	font-weight:700;
}

/*.camp .cap-03{
	padding:0px 20px;
}*/

table tbody tr td{
	text-align: center;
}