<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Simort</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.simor.servelet.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContaServ</display-name>
    <servlet-name>ContaServ</servlet-name>
    <servlet-class>com.simor.servelet.ContaServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContaServ</servlet-name>
    <url-pattern>/ContaServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forgotServ</display-name>
    <servlet-name>forgotServ</servlet-name>
    <servlet-class>com.simor.servelet.forgotServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgotServ</servlet-name>
    <url-pattern>/forgotServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeriadoServ</display-name>
    <servlet-name>FeriadoServ</servlet-name>
    <servlet-class>com.simor.servelet.FeriadoServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeriadoServ</servlet-name>
    <url-pattern>/FeriadoServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeriadoRemove</display-name>
    <servlet-name>FeriadoRemove</servlet-name>
    <servlet-class>com.simor.servelet.FeriadoRemove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeriadoRemove</servlet-name>
    <url-pattern>/FeriadoRemove</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forgot</display-name>
    <servlet-name>Forgot</servlet-name>
    <servlet-class>com.simor.servelet.Forgot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forgot</servlet-name>
    <url-pattern>/Forgot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Account</display-name>
    <servlet-name>Account</servlet-name>
    <servlet-class>com.simor.servelet.Account</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Account</servlet-name>
    <url-pattern>/Account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.simor.servelet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Report</display-name>
    <servlet-name>Report</servlet-name>
    <servlet-class>com.simor.servelet.Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Report</servlet-name>
    <url-pattern>/Report</url-pattern>
  </servlet-mapping>
</web-app>